:root {
    --background-color: #e4e4e9;
    --container-color: #F3F4FB;
    --top-bar-background-color: #F0F1F8;
    --top-bar-line-color: #D1D2DA;
    --primary-color: #3849EA;
    --paragraph-color: #6d6f83;
    --blocks-background: #E9EBF9;
}