<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easily Loading Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/load.css') }}">
</head>
<body>
    <div class="loading-container">
        <div class="loading-text">Easily</div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setTimeout(function() {
                window.location.href = "/en";
            }, 1000);
        });
    </script>
</body>
</html>
